extends main.pug

block content

    div.left

        if literalsPredicates.length > 0
            h2 Literals
            ul.properties
                each literalPredicate in literalsPredicates
                    li
                        a(href=literalPredicate.url)
                            span #{literalPredicate.prefix}:
                            | #{literalPredicate.value}
                        if literalPredicate.value == "sameAs"
                            p For more information, check next link(s)
                        div(id = literalPredicate.value)
                            ul
                                - var i = 0;
                                each literal in literals
                                    if literalPredicate.url == literal.relation.url
                                        if i < 5
                                            li
                                                if literal.value.type != 'uri'
                                                   | #{literal.value.value}
                                                else
                                                    if literal.image == false
                                                        a(href=literal.value.value) #{literal.value.value}
                                                    else
                                                        img(src=literal.value.value)#resourceImg
                                        else
                                            li.hidden
                                                if literal.value.type != 'uri'
                                                    | #{literal.value.value}
                                                else
                                                    if literal.image == false
                                                        a(href=literal.value.value) #{literal.value.value}
                                                    else
                                                        img(src=literal.value.value)#resourceImg
                                        - i++;

                                if i > 5
                                    button(class = "collapseButton" id = literalPredicate.value + "Button" onClick="showItems(\"" + literalPredicate.value + "\");") Show more


        if typedLiteralsPredicates.length > 0
            h2 Typed Literals
            ul.properties
                each typedLiteralPredicate in typedLiteralsPredicates
                    li
                        a(href=typedLiteralPredicate.url)
                            span #{typedLiteralPredicate.prefix}:
                            | #{typedLiteralPredicate.value}
                        div(id = typedLiteralPredicate.value)
                            ul
                                - var i = 0;
                                each typedLiteral in typedLiterals
                                    if typedLiteralPredicate.url == typedLiteral.relation.url
                                        if i < 5
                                            li
                                                #{typedLiteral.value.value} (#{typedLiteral.value.datatype})
                                        else
                                            li.hidden
                                                #{typedLiteral.value.value} (#{typedLiteral.value.datatype})
                                        - i++;

                                if i > 5
                                    button(class = "collapseButton" id = typedLiteralPredicate.value + "Button" onClick="showItems(\"" + typedLiteralPredicate.value + "\");") Show more

        if relationsPredicates.length > 0
            h2 Relations
            ul.properties
                each relationPredicate in relationsPredicates
                    li
                        a(href=relationPredicate.url)
                            span #{relationPredicate.prefix}:
                            | #{relationPredicate.value}
                        div(id = relationPredicate.value)
                            ul
                                - var i = 0;
                                each relation in relations
                                    if relationPredicate.url == relation.relation.url
                                        if i < 5
                                            li
                                                a(href=relation.value.url + "?backUri=" + rUri) #{relation.value.value}
                                        else
                                            li.hidden
                                                a(href=relation.value.url + "?backUri=" + rUri) #{relation.value.value}
                                        - i++;

                                if i > 5
                                    button(class = "collapseButton" id = relationPredicate.value +"Button" onClick="showItems(\""+relationPredicate.value+"\");") Show more


        if reverseRelationsPredicates.length > 0
            h2 Inverse relations
            ul.properties
                each reverseRelationPredicate in reverseRelationsPredicates
                    li
                        a(href=reverseRelationPredicate.url)
                            span #{reverseRelationPredicate.prefix}:
                            | #{reverseRelationPredicate.value}
                        div(id = reverseRelationPredicate.value)
                            ul
                                - var i = 0;
                                each relation in reverseRelations
                                    if reverseRelationPredicate.url == relation.relation.url
                                        if i < 5
                                            li
                                                a(href=relation.value.url + "?backUri=" + rUri) #{relation.value.value}
                                        else
                                            li.hidden
                                                a(href=relation.value.url + "?backUri=" + rUri) #{relation.value.value}

                                        - i++;

                                if i > 5
                                    button(class = "collapseButton" id = reverseRelationPredicate.value + "Button" onClick="showItems(\"" + reverseRelationPredicate.value + "\");") Show more

        if blankNodesPredicates.length > 0
            h2 Blank Nodes
            ul.properties
                each blankNodePredicate in blankNodesPredicates
                    li
                        a(href=blankNodePredicate.url)
                            span #{blankNodePredicate.prefix}:
                            | #{blankNodePredicate.value}
                        div(id = blankNodePredicate.value)
                            ul
                                - var i = 0;
                                each blankNode in blankNodes
                                    if blankNodePredicate.url == blankNode.relation.url
                                        if i < 5
                                            li
                                                a(href=datasetBase + blankNode.nodeID + "?backUri=" + rUri) Recurso anónimo (#{blankNode.nodeID})
                                        else
                                            li.hidden
                                                a(href=datasetBase + blankNode.nodeID + "?backUri=" + rUri) Recurso anónimo (#{blankNode.nodeID})
                                        - i++;

                                if i > 5
                                    button(class = "collapseButton" id = blankNodePredicate.value + "Button" onClick="showItems(\"" + blankNodePredicate.value + "\");") Show more

        div#geometricAttributes

            if geometriesPredicates.length > 0
                h2 Geometric Attributes
                ul.properties
                    each geometriyPredicate in geometriesPredicates
                        li
                            a(href=geometriyPredicate.url) #{geometriyPredicate.prefix}:#{geometriyPredicate.value}
                            div(id = geometriyPredicate.value)
                                ul
                                    each geometry in geometries
                                        if geometriyPredicate.url == geometry.relation.url
                                            li.hidden #{geometry.value}
                                            button(class = "geometryButton collapseButton" id = geometriyPredicate.value + "Button" onClick="showItems(\"" + geometriyPredicate.value + "\");") Show more

        if pointsPredicates.length > 0
            h2 Coordinates Attributes
            ul.properties
                each pointPredicate in pointsPredicates
                    li
                        a(href=pointPredicate.lat.url)
                            span #{pointPredicate.lat.prefix}:
                            | #{pointPredicate.lat.value}
                        ul
                            each point in points
                                li #{point.lat}
                    li
                        a(href=pointPredicate.long.url)
                            span #{pointPredicate.long.prefix}:
                            | #{pointPredicate.long.value}
                        ul
                            each point in points
                                li #{point.long}

    div.right

        div#contentMap
            div#map