extends main.pug

block content
    h2 Literales
    ul
        each literalAux in literalsAux
            li
                a(href=literalAux.url) #{literalAux.prefix}:#{literalAux.value}
                ul
                    each literal in literals
                        if literalAux.url == literal.relation.url
                            li
                                if literal.value.type != 'uri'
                                   | #{literal.value.value}
                                else
                                    a(href=literal.value.value) #{literal.value.value}

    h2 Literales Tipados
    ul
        each typedLiteralAux in typedLiteralsAux
            li
                a(href=typedLiteralAux.url) #{typedLiteralAux.prefix}:#{typedLiteralAux.value}
                ul
                    each typedLiteral in typedLiterals
                        if typedLiteralAux.url == typedLiteral.relation.url
                            li
                                #{typedLiteral.value.value} (#{typedLiteral.value.datatype})

    h2 Relaciones
    ul
        each relationAux in relationsAux
            li
                a(href=relationAux.url) #{relationAux.prefix}:#{relationAux.value}
                ul
                    each relation in relations
                        if relationAux.url == relation.relation.url
                            li
                                a(href=relation.value.url) #{relation.value.value}

    h2 Relaciones inversas
    ul
        each reverseRelationAux in reverseRelationsAux
            li
                | is
                a(href=reverseRelationAux.url) #{reverseRelationAux.prefix}:#{reverseRelationAux.value}
                ul
                    each relation in reverseRelations
                        if reverseRelationAux.url == relation.relation.url
                            li
                                a(href=relation.value.url) #{relation.value.value}

    h2 Atributos geométricos
    ul
        each geometriyAux in geometriesAux
            li
                a(href=geometriyAux.url) #{geometriyAux.prefix}:#{geometriyAux.value}
                ul
                    each geometry in geometries
                        if geometriyAux.url == geometry.relation.url
                            //-li
                                | #{geometry.value.value}

                        div(style={height: '500px'})
                            div#map(style={height: '100%'})

    h2 Puntos
    ul
        each pointAux in pointsAux
            li
                ul
                    li
                        a(href=pointAux.lat.url) #{pointAux.lat.prefix}:#{pointAux.lat.value}
                    li
                        a(href=pointAux.long.url) #{pointAux.long.prefix}:#{pointAux.long.value}
                    each point in points
                        //-li
                            | #{point.value}

                        div(style={height: '500px'})
                            div#map(style={height: '100%'})