extends main.pug

block content
    h2 Literales
    ul
        each literal in literals
            li
                a(href=literal.relation.url) #{literal.relation.prefix}:#{literal.relation.value}
                | ----->
                if literal.value.type != 'uri'
                   | #{literal.value.value}
                else
                    a(href=literal.value.value) #{literal.value.value}

    h2 Literales Tipados
    ul
        each typedLiteral in typedLiterals
            li
                a(href=typedLiteral.relation.url) #{typedLiteral.relation.prefix}:#{typedLiteral.relation.value}
                | -----> #{typedLiteral.value.value} (#{typedLiteral.value.datatype})

    h2 Relaciones
    ul
        each relationAux in relationsAux
            li
                a(href=relationAux.url) #{relationAux.prefix}:#{relationAux.value}
                ul
                    each relation in relations
                        if relationAux.url == relation.relation.url
                            li
                                | ----->
                                a(href=relation.value.url) #{relation.value.value}

    h2 Relaciones inversas
    ul
        each relation in reverseRelations
            li
                | is
                a(href=relation.relation.url) #{relation.relation.prefix}:#{relation.relation.value}
                | ----->
                a(href=relation.value.url) #{relation.value.value}

