extends main.pug

block content

    div.left

        if literalsAux.length > 0
            h2 Literals
            ul.properties
                each literalAux in literalsAux
                    li
                        a(href=literalAux.url) #{literalAux.prefix}:#{literalAux.value}
                        div(id = literalAux.value)
                            ul
                                - var i = 0;
                                each literal in literals
                                    if literalAux.url == literal.relation.url
                                        if i < 10
                                            li
                                                if literal.value.type != 'uri'
                                                   | #{literal.value.value}
                                                else
                                                    a(href=literal.value.value) #{literal.value.value}
                                        else
                                            li.hidden
                                                if literal.value.type != 'uri'
                                                    | #{literal.value.value}
                                                else
                                                    a(href=literal.value.value) #{literal.value.value}
                                - i++;

                                if literals.length > 10
                                    button(class = "collapseButton" id = literalAux.value + "Button" onClick="showItems(\"" + literalAux.value + "\");") Show more


        if typedLiteralsAux.length > 0
            h2 Typed Literals
            ul.properties
                each typedLiteralAux in typedLiteralsAux
                    li
                        a(href=typedLiteralAux.url) #{typedLiteralAux.prefix}:#{typedLiteralAux.value}
                        div(id = typedLiteralAux.value)
                            ul
                                - var i = 0;
                                each typedLiteral in typedLiterals
                                    if typedLiteralAux.url == typedLiteral.relation.url
                                        if i < 10
                                            li
                                                #{typedLiteral.value.value} (#{typedLiteral.value.datatype})
                                    else
                                        li.hidden
                                            #{typedLiteral.value.value} (#{typedLiteral.value.datatype})
                                - i++;

                                if typedLiterals.length > 10
                                    button(class = "collapseButton" id = typedLiteralAux.value + "Button" onClick="showItems(\"" + typedLiteralAux.value + "\");") Show more

        if relationsAux.length > 0
            h2 Relations
            ul.properties
                each relationAux in relationsAux
                    li
                        a(href=relationAux.url) #{relationAux.prefix}:#{relationAux.value}
                        div(id = relationAux.value)
                            ul
                                - var i = 0;
                                each relation in relations
                                    if relationAux.url == relation.relation.url
                                        if i < 10
                                            li
                                                a(href=relation.value.url + "?backUri=" + rUri) #{relation.value.value}
                                        else
                                            li.hidden
                                                a(href=relation.value.url + "?backUri=" + rUri) #{relation.value.value}
                                    - i++;

                                if relations.length > 10
                                    button(class = "collapseButton" id = relationAux.value +"Button" onClick="showItems(\""+relationAux.value+"\");") Show more


        if reverseRelationsAux.length > 0
            h2 Inverse relations
            ul.properties
                each reverseRelationAux in reverseRelationsAux
                    li
                        | is
                        a(href=reverseRelationAux.url) #{reverseRelationAux.prefix}:#{reverseRelationAux.value}
                        div(id = reverseRelationAux.value)
                            ul
                                - var i = 0;
                                each relation in reverseRelations
                                    if reverseRelationAux.url == relation.relation.url
                                        if i < 10
                                            li
                                                a(href=relation.value.url + "?backUri=" + rUri) #{relation.value.value}
                                        else
                                            li.hidden
                                                a(href=relation.value.url + "?backUri=" + rUri) #{relation.value.value}

                                    - i++;

                                if reverseRelations.length > 10
                                    button(class = "collapseButton" id = reverseRelationAux.value + "Button" onClick="showItems(\"" + reverseRelationAux.value + "\");") Show more

        if blankNodesAux.length > 0
            h2 Blank Nodes
            ul.properties
                each blankNodeAux in blankNodesAux
                    li
                        a(href=blankNodeAux.url) #{blankNodeAux.prefix}:#{blankNodeAux.value}
                        div(id = blankNodeAux.value)
                            ul
                                - var i = 0;
                                each blankNode in blankNodes
                                    if blankNodeAux.url == blankNode.relation.url
                                        if i < 10
                                            li
                                                a(href=datasetBase + blankNode.nodeID + "?backUri=" + rUri) Recurso anónimo (#{blankNode.nodeID})
                                        else
                                            li.hidden
                                                a(href=datasetBase + blankNode.nodeID + "?backUri=" + rUri) Recurso anónimo (#{blankNode.nodeID})
                                - i++;

                                if blankNodes.length > 10
                                    button(class = "collapseButton" id = blankNodeAux.value + "Button" onClick="showItems(\"" + blankNodeAux.value + "\");") Show more

        if geometriesAux.length > 0
            h2 Geometric Attributes
            ul.properties
                each geometriyAux in geometriesAux
                    li
                        a(href=geometriyAux.url) #{geometriyAux.prefix}:#{geometriyAux.value}
                        div(id = geometriyAux.value)
                            ul
                                each geometry in geometries
                                    if geometriyAux.url == geometry.relation.url
                                        li.hidden #{geometry.value}
                                        button(class = "collapseButton" id = geometriyAux.value + "Button" onClick="showItems(\"" + geometriyAux.value + "\");") Show more

        if pointsAux.length > 0
            h2 Coordinates Attributes
            ul.properties
                each pointAux in pointsAux
                    li
                        a(href=pointAux.lat.url) #{pointAux.lat.prefix}:#{pointAux.lat.value}
                        ul
                            each point in points
                                li #{point.lat}
                    li
                        a(href=pointAux.long.url) #{pointAux.long.prefix}:#{pointAux.long.value}
                        ul
                            each point in points
                                li #{point.long}

        if imagesAux.length > 0
            h2 Images
            ul.properties
                each imageAux in imagesAux
                    li
                        a(href=imageAux.url) #{imageAux.prefix}:#{imageAux.value}
                        ul
                            each image in images
                                if imageAux.url == image.relation.url
                                    li
                                        img(src=image.value.value)#resourceImg

    div.right

        div#contentMap
            div#map