doctype html
html
    head
        title #{rTitle}
        link(rel='stylesheet', href='../stylesheets/style.css')
    body
        h1 #{rTitle}

        h2 #{rUri}

        if rTypes.length > 0
            h2 Tipos
            ul
                each type in rTypes
                    li
                        a(href=type.url) #{type.prefix}:#{type.value}

        block content