doctype html
html
    head
        title #{rTitle}
        link(rel='stylesheet', href='style.css')

        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
        script(type="text/javascript", src="client.js")
        script(type="text/javascript", src="changeView.js")

    body

        if projectLogo != ""
            div#projectLogo
                img(src=projectLogo)

        h1 #{rTitle}

        div#homeLink
            a(href = projectHomePage) (#{projectName})

        if rBackUri != ""
            div#backUri
                a(href = rBackUri) Volver al recurso anterior

        div#resourceUri
            h2 #{rUri}

        if rTypes.length > 0
            h2 Types
            ul#types
                each type in rTypes
                    li
                        a(href=type.url)
                            span #{type.prefix}:
                            | #{type.value}

        div#content
            block content

        button(id="changeViewButton" onClick="changeView();") Change to developer view

        script(type="text/javascript").
            point = "#{geoPoint}";
            figure = "#{geoFigure}";
            initializePoint(point);
            initializeFigure(figure);

            $(document).ready(function () {
                changeView();
            });


        script(async defer, src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBt5CcFk1btCb9QpnwAmEtPNI7k4U3loEU&callback=initMap")