doctype html
html
    head
        title #{rTitle}
        link(rel='stylesheet', href='style.css')

        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
        script(type="text/javascript", src="client.js")

    body

        div#header
            if projectLogo != ""
                div#projectLogo
                    img(src=projectLogo)

            h1 #{rTitle}

            div#homeLink
                a(href = projectHomePage) (#{projectName})

            div#resourceUri
                h2 #{rUri}

        if rBackUri != ""
            div#backUri
                a(href = rBackUri) Volver al recurso anterior

        if rTypes.length > 0
            h2 Types
            ul#types
                each type in rTypes
                    li
                        a(href=type.url)
                            span #{type.prefix}:
                            | #{type.value}

        div#content
            block content

        div.radio-group
            form(id="changeViewType")
                input(
                    type="radio"
                    id="user"
                    name="selector"
                    value="user"
                )
                label(for="user") User view
                input(
                    type="radio"
                    id="developer"
                    name="selector"
                    value="developer"
                )
                label(for="developer") Developer view

        script(type="text/javascript").
            point = "#{geoPoint}";
            figure = "#{geoFigure}";
            initializePoint(point);
            initializeFigure(figure);

            view = "#{defaultView}";

            $(document).ready(function () {
                initView(view);
            });


        script(async defer, src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBt5CcFk1btCb9QpnwAmEtPNI7k4U3loEU&callback=initMap")